* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}


.header-plants {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 134px;
    margin: 0 auto;

}

.main-container {
    width: 1440px;
    margin: 0 auto;
    background-color: #EDF2EC;
}

.main-container section,
header {
    padding: 0 110px;
}

.logo-plants {
    display: flex;
}

.inika {
    font-family: 'Inika', serif;
    font-size: 16px;
    font-weight: 400;
    color: #010201;
}

.header-nav {
    width: 40%;
}

.header-list {
    display: flex;
    justify-content: space-between;
}

.header-list .inika:hover {
    transition: 0.5s;
    color: #E06733;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 532px;
}

.welcome-img {
    width: 40%;
}

.leaf-img {
    margin-left: -15px;
}
.welcome-text {
    width: 50%;
    padding-left: 63px;
}

.welcome-title {
    padding-top: 5px;
    font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #717171;
}

.welcome-lorem {
    font-family: 'Inter', sans-serif;
    padding-top: 43px;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    color: #636060;
}

.welcome-button {
    margin-top: 48px;
    width: 158px;
    height: 44px;
    border: 2px solid #E06733;
    border-radius: 10px;
    background-color: #EDF2EC;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
}

.welcome-button:hover {
    transition: 0.5s;
    background-color: #E06733;
    color: #fff;
}

.about {
    height: 669px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.about-text {
    padding-top: 10px;
    width: 50%;
}

.title-about,
.service-title {
    font-family: Inika, serif;
    font-weight: 400;
    font-size: 40px;
    color: #E06733;
}

.about-lorem {
    padding-top: 37px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

.service {
    min-height: 1256px;
}

.sevice-top {
    margin-top: 41px;
    display: flex;
}

.service-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 157px;
}


.orange-button {
    height: 50px;
    width: 161px;
    border: 1px solid #E06733;
    border-radius: 5px;
    font-family: inika, serif;
    font-size: 20px;
    color: #E06733;
    background-color: white;
}


.service-button {
    margin-left: 38px;
    background-color: #EDF2EC;
}

.service-button:hover {
    transition: 0.5s;
    background-color: #E06733;
    color: #fff;
}

.service-button:first-child {
    margin-left: 0;
}


.green {
    color: #499A18;
}

.service-items,
.service-items-second {
    display: flex;
    justify-content: space-between;
}

.service-items {
    margin-top: 76px;
}

.service-item {
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding-bottom: 33px;
}

.service-item-title {
    font-family: Inter, sans-serif;
    color: #E06733;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
}

.service-item-lorem {
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #717171;
    text-align: center;
    margin-top: 12px;
}

.service-items-second {
    margin-top: 55px;
}

.prices {
    display: flex;
    min-height: 560px;
    background-color: #FFFFFF;
}

.left-part,
.right-part {
    margin-top: 40px;
    width: 50%;
}

.prices-title,
.gardeners-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #010201;
}

.prices-buttons {
    min-height: 282px;
    width: 332px;
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    padding: 18px 0;
}

.prices-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 250px;
    background-color: #EDF2EC;
    border: none;
    border-radius: 20px;
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    text-align: left;
    padding: 0 41px;
}


    .round {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    background-color: #D9D9D9;
}

.gardeners-title {
    text-align: right;
    padding-left: 40px;
}

.prices-block{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items:flex-end;
}

.contact-button{
    margin-top: 41px;
} 
.img-block {
    margin-top: 34px;
    margin-right: -8px;
}

.contact-button:hover {
    transition: 0.5s;
    background-color: #E06733;
    color: #fff;
}

.contacts{
    height: 550px;
    background-color: #EDF2EC;
}

.contact-title {
    padding-top: 59px;
    font-family: Inika, serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.contacts-part {
    display: flex;
    justify-content: space-between;
}

.img-contacts {
    position: relative;
    bottom: 60px;
}

.contacts-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px 0 24px;
    height: 50px;
    width: 450px;
    background-color: #D6E7D2;
    border: none;
    margin-top: 36px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    font-family: Inter, sans-serif;
    color: #717171;
    font-size: 20px;
}

.round-grey {
    background-color: #AEA1A1;
    height: 16px;
    width: 16px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#FFFFFF;
    padding: 0 90px 0 109px;
}

.github-link {
    display: flex;
}

.github-item, .rsschool-item{
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.rsschool-item{
    text-align: right;
    margin-left: 39px ;
}
.social-networks{
    display: flex;
}

.social-networks .instagram{
    margin-top: 3px;
}

.github-item, .social-networks-item{
    margin-right: 20px;
}